{% extends 'base.html' %}


{% block allActive %}active{% endblock allActive %}


{% block body %}


{% if user.is_authenticated %}
<div class="container mt-3">

    <h1 class="text-center my-3"> All of Your Passwords </h1>

    
    
    <div class="row">
      
      {% for i in user_pass %}
      <div class="col-sm-4 mb-3">
        <div class="card">
          <div class="card-body">
            <h5 class="card-title"> Site : <a  class="text" href="{{i.site}}" target="__blank"> {{ i.site_name }} </a></h5>

            <p class="card-text">
              <h6>Username : {{i.uname_site}} </h6>
              <h6>Password : {{i.pass_site}} </h6>
            </p>
            <a href="/update/{{i.id}}" class="btn btn-primary my-2">Update</a>
            <a href="/delete/{{i.id}}" onClick=alert("Are you Sure You want to Delete.") class="btn btn-danger">Delete</a>
          </div>
        </div>
      </div>
      {% endfor %}
      
</div>


  </div>

{% comment %} 
       <div class="row">

        <div class="col-sm-4 mb-3">
          <div class="card">
            <div class="card-body">
              <h5 class="card-title"> Site : <a href="Linkedin" target=__blank>Linkedin </a></h5>

              <p class="card-text">
                <h6>Username : arkalsekar</h6>
                <h6>Password : arkalsekar</h6>
              </p>
              <a href="#" class="btn btn-primary my-2">Update</a>
              <a href="#" class="btn btn-danger">Delete</a>
            </div>
          </div>
        </div>
        
  </div> {% endcomment %}





  {% endif %}






{% endblock body %}

